<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:include="layout :: page">
<head></head>
<body>
<div th:fragment="content">
    <div class="panel panel-default" ng-controller="DataCtrl">
        <div class="panel-body">
            <div class="col-md-3 pull-right">
                <form role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search..."
                                   ng-keyup="checkKeyUp($event)"/>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ok()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-bordered">
            <th>Type</th>
            <th>Value</th>
            <th>Time stamp</th>
            <tr ng-repeat="d in data">
                <td>{{d.type}}</td>
                <td>{{d.value}}</td>
                <td>{{d.createdDateTime}}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>