<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Data Tracker</title>
    <!-- build:css assets/styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css assets/styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild -->
</head>
<body ng-app="dtrackApp" class="ng-cloak">
  <div class="container">
      <!--<div class="header">-->
          <!--<h3 class="text-info">Data Tracker</h3>-->
      <!--</div>-->
      <div class="navbar navbar-default navbar-static-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" th:href="@{/}"><span>Data Tracker</span></a>
              </div>
              <div th:if="${#httpServletRequest.remoteUser != null}">
                  <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                      <ul class="nav navbar-nav navbar-right">
                          <li th:classappend="${#httpServletRequest.getRequestURI() == '/main' ? 'active':''}">
                              <a th:href="@{/main}" th:inline="text">Home</a>
                          </li>
                          <li th:classappend="${#httpServletRequest.getRequestURI() == '/data' ? 'active':''}">
                              <a th:href="@{/data}">Data</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    <div class="well" th:include="this :: content"></div>

      <div class="footer" ng-controller="IndexCtrl">
          <div class="container text-center"><small>
                  &copy; dTrack 2016<br/>
                  Version: <strong>{{dtrackVersion}}</strong>
                  </small>
          </div>
      </div>
  </div>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
  <!--<script src="scripts/app/app.js"></script>-->
  <script src="scripts/app/app.js"></script>
  <script src="scripts/app/app.constants.js"></script>
  <script src="scripts/app/controllers/index.js"></script>
  <script src="scripts/app/controllers/data.js"></script>
  <!-- endbuild -->

</body>
</html>