<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Data Tracker</title>
    <!-- build:css assets/styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css assets/styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild -->
</head>
<body ng-app="dtrackApp" class="ng-cloak">
  <div class="container">
      <!--<div class="header">-->
          <!--<h3 class="text-info">Data Tracker</h3>-->
      <!--</div>-->
      <div class="navbar navbar-default navbar-static-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" th:href="@{/}"><span>Data Tracker</span></a>
              </div>
              <div th:if="${#httpServletRequest.remoteUser != null}">
                  <div class="collapse navbar-collapse" id="navbar-ex-collapse" ng-controller="navBarCtrl"
                       th:attr="ng-init='init(\''+${#httpServletRequest.remoteUser}+'\');'">
                      <ul class="nav navbar-nav navbar-right">
                          <li th:classappend="${#httpServletRequest.getRequestURI() == '/main' || #httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                              <a th:href="@{/main}" th:inline="text"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a>
                          </li>
                          <li th:classappend="${#httpServletRequest.getRequestURI() == '/data' ? 'active':''}">
                              <a th:href="@{/data}"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Data</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div ng-controller="notificationCtrl">
          <uib-alert type="success" ng-hide="notificationAlert.enabled === false" id="notificationMessage">{{notificationAlert.message}}</uib-alert>
      </div>
    <div class="well" th:include="this :: content"></div>

      <div class="footer" ng-controller="IndexCtrl">
          <div class="container text-center"><small>
                  &copy; dTrack 2016<br/>
                  Version: <strong>{{dtrackVersion}}</strong>
                  </small>
          </div>
      </div>
  </div>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
  <script src="bower_components/ng-stomp/dist/ng-stomp.standalone.min.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
  <!--<script src="scripts/app/app.js"></script>-->
  <script src="scripts/vendors/highcharts.js"></script>
  <script src="scripts/app/util/utils.js"></script>
  <script src="scripts/app/services/userService.js"></script>
  <script src="scripts/app/app.js"></script>
  <script src="scripts/app/app.constants.js"></script>
  <script src="scripts/app/controllers/index.js"></script>
  <script src="scripts/app/controllers/data.js"></script>
  <script src="scripts/app/controllers/loginAlert.js"></script>
  <script src="scripts/app/controllers/navBar.js"></script>
  <script src="scripts/app/controllers/notification.js"></script>
  <script src="scripts/app/controllers/update.js"></script>
  <!-- endbuild -->

</body>
</html>