<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head></head>
<body>
    <div th:fragment="content">
        <log-alert></log-alert>
        <form th:action="@{/login}" method="post" role="form" class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">User Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password"/>
                </div>
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" id="signin">Sign In</button>
                </div></div>
        </form>
    </div>
</body>
</html>
