<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:include="layout :: page">
<head></head>
<body>
<div th:fragment="content">
    <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
    <div class="panel panel-default" ng-controller="MainCtrl">
        <div class="panel-body">
            <table class="table table-bordered">
                <th>Type</th>
                <th>Value</th>
                <th>Time stamp</th>
                <tr ng-repeat="d in data">
                    <td>{{d.type}}</td>
                    <td>{{d.value}}</td>
                    <td>{{d.createdDateTime}}</td>
                </tr>
            </table>
        </div>
    </div>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-primary">Sign Out</button>
        </form>
    </div>
</body>
</html>