<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head></head>
<body>
<div th:fragment="content">
    <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
    <!-- Debug STOMP message-->
    <div ng-controller="updateCtrl">
        <button type="button" class="btn btn-secondary" ng-click="sendUpdate()" id="sendNotification">Send Update</button>
    </div>
    <br/>
    <update-component>Loading...</update-component>
    <br/>
    <!---->
    <div>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-primary" id="signout">Sign Out</button>
        </form>
    </div>
</div>
</body>
</html>